.aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    color: #181A18;
    /* animation: transitionIn 0.25s; */
  }
  
  .aboutPage img {
    width: 90vw;
    height: auto;
    margin: 0 2em;
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    animation: transitionIn 0.75s;
  }
  
  .aboutPage h1 {
    width: 90vw;
    margin: 1em 2em;
    opacity: 0; /* Set initial opacity to 0 */
    animation: transitionIn .75s forwards;
    animation-delay: 1s;
  }

  .aboutPage p {
    line-height: 1.2em;
    font-size: 1.2em;
    width: 90vw;
    margin: 0em 2em 1em 2em;
    opacity: 0; /* Set initial opacity to 0 */
    animation: transitionIn .75s forwards;
    animation-delay: 1s;
  }

  @media screen and (min-width: 560px) {
    .aboutPage{
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .aboutPage img {
      width: 50vw;
      margin-right: 1em;
    }

    .aboutPage h1 {
      width: 40vw;
      margin: 0;
      /* margin-right: 1em; */
      animation-delay: 0.5s;
      font-size: 1.6em;
    }

    .paragraphText {
      margin-top: 2em;
    }

    @media screen and (min-width: 768px) {
        .aboutPage h1{
          font-size: 2.2em;
        }
    }

    @media screen and (min-width: 1024px) {
      .aboutPage{
        /* justify-content: space-between; */
      }
      
      .aboutPage h1{
        font-size: 3em;
        margin-left: .5em;
      }

      .aboutPage img {
        max-width: 40vw;
      }

      @media screen and (min-width: 1350px) {
        .aboutPage h1{
          font-size: 3.5em;
          margin-left: .5em;
        }

        .aboutPage img {
          max-width: 35vw;
        }
      }
  }
  
  }

  
  
  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  