footer{
    background-color: #48641b;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    margin: 0;
}

.mainContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.mainContent h1 {
    font-size: 1.5em;
    margin-top: 1.5em;
    color: #090a09;
}

.activeParent{
    text-align: center;
    color: #090a09;
}

.footerImg{
    border-radius: 50%;
    background-color: #d5e7b8;
    /* padding: 10px; */
    margin: 1em;
    width: 13em;
}

.logoLinks {
    height: 2.6em; /* Adjust the height */
    width: auto; /* Let the width adjust proportionally */
}

.charityDonation {
    background-color: #ec2e2e;
    padding: .2em 1em;
    border: solid #181A18 2px;
    height: 2em;
    margin: 0;
    border-radius: 2px;
    color: #d5e7b8;
    font-weight: 600;
}

.quickLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.donationText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donationText h2{
    margin-bottom: 0;
    color: #090a09;

}

.donationText p {
    text-align: center;
    margin: 1em 2.5em;
    color: #d5e7b8;
    font-weight: 500;
}

.devLinksParent {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

.devLinks{
    height: 2em;
    width: auto;
    
}

#personalPage{
    height: 2.1em;
}

.devBio {
    color: #090a09;
    background-color: #48641b;
    margin: 0;
    
}

.devBio h4{
    margin-bottom: .8em;
    font-size: .8em;
}

@media (min-width: 768px) {
    /* CSS rules for tablet-sized screens and larger */
    .mainContent{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        /* gap: 2em; */
    }

    .activeParent h1{
        margin-top: 1em;
        margin-bottom: .5em;
    }

    .activeParent{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 2.5em;
    }

    .emailFormField{
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .textSpan{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 1.7em;
    }

    .subscribeButton{
        width: 40%;
        font-weight: 600;
    }

    .donationParent {
        display: flex;
        flex-direction: column;
    }

    .activeParent, .donationParent {
        flex: none; /* Disable flex grow to ensure fixed width */
        flex-basis: calc(40% - 1em); /* Subtracting margin for equal spacing */
        max-width: calc(40% - 1em); /* Set the maximum width for consistency */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5em; /* Adjust margins for consistent spacing */
    }

    .donationText h2{
        margin-top:1em;
    }
    .charityDonation{
        justify-self: flex-end;
    }
    @media (min-width: 1140px){
        .mainContent > :nth-child(2) {
            order: 1;
        }

        .mainContent{
            justify-content: space-between;
            gap: 4em;
        }

        .activeParent, .donationParent {
            flex: 1; /* Distribute available space evenly among parent elements */
            max-width: 33%; /* Limit maximum width to one-third of the available space */
            display: flex;
            align-items: center; /* Vertically center the content */
            justify-content: center; /* Horizontally center the content */
        }

        .activeParent{
            margin: 0;
            padding-right: 1em;

        }
        
        .emailFormField{
            gap: .8em;
        }

        .donationText p {
            margin-left: 1em;
            margin-right:1em;
        }
    }
}
