/*==========================
  Sidebar navigation
  ========================*/
  
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: dotted .15em #2c3d10;
    display: flex;
    justify-content: space-between;
    padding: 2em 0em;
    background-color: #d5e7b8;
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
    overflow-x: hidden;
    
}


.navbar::before {
    content: "";
    background-image: url('../../public/pngwing.com.png');
    background-size: 0%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: 0;
}

.mainTitle {
    margin: 0;
    font-weight: 500;
    padding-left: 1em;
    color: #2c3d10;
    font-size: 3em;
    z-index: 1;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

button.toggle {
    cursor: pointer;
    padding-right: 1em;
    background: transparent;
    border: none;
    font-size: 1.25em;
    z-index: 1;
    /* Equivalent to 20px */
}

.navbar .toggle {
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 10;
    /* Increase the z-index */
}

.menu-nav {
    list-style: none;
    position: fixed;
    background: #2c3d10;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    /* Use vw unit for full viewport width */
    overflow: hidden;
    overflow-y: auto;
    /* max-width: 18.125em; Equivalent to 290px */
    z-index: 501;
    font-size: 1.125em;
    /* Equivalent to 18px */
    box-shadow: 0 0.625em 0.9375em -0.1875em rgba(46, 41, 51, 0.08),
        0 0.25em 0.375em -0.125em rgba(71, 63, 79, 0.16);
    transform: translateX(-100%);
    margin-top: 0;
    transition: transform ease-in-out 0.5s, padding 0.5s;
    
}

.menu-nav::before {
    content: "";
    background-image: url('../../public/pngwing.com.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: 0;
}



.menu-nav.show-menu {
    transform: translateX(0%);
    /* Add this line */
    padding: 0;
    z-index: 1;
    transform-origin: right center;
    overflow: hidden;
    
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../public/pngwing.com.png');
    background-size: cover;
    opacity: 0.5;
    /* Adjust the opacity value as needed */
    z-index: -1;
    /* Move the background image behind other elements */
    transition: opacity 0.5s;
}



.navLinksOpen {
    display: flex;
    flex-direction: column;
    margin-top: 8em;
    padding-left: 6em;
    gap: 1em;
    width: 50%;
    z-index: 1;
    transition: margin-top ease-in-out 0.5s;
    overflow: hidden;
}


.navList {
    text-decoration: none;
    color: #d5e7b8;
    font-size: 3em;
    position: relative;
    z-index: 1;
}


.navList::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: .05em;
    background-color: #d5e7b8;
    transition: width 0.4s;
}

.navList:hover::after {
    width: 7em
}

@media screen and (max-width: 481px) {
    .navbar {
        padding: 1.5em 0em;
    }

    .mainTitle {
        font-size: 2.2em;
        padding-left: .5em;
    }

    .navLinksOpen {
        margin-top: 4em;
        padding-left: 2em;
        gap: 2em;
        width: 100%;
    }

    button {
        font-size: 1.2em;
    }

    .navList {
        font-size: 3em;
    }

    /* Adjust other styles as needed */
}



@keyframes fadeInMenu {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}



/* SubscribeForm.css */
.emailForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 20em;
  z-index: 100;
}

.emailInput {
  width: 100%;
  border: 1px solid #d5e7b8;
  background-color: #d5e7b8;
  margin-left: 0;
  height: 38px;
  padding: 1em; /* Reset padding */
  box-sizing: border-box; /* Include padding in width calculation */
}

.subscribeButton {
  background-color: #d5e7b8;
  color: #2c3d10;
  border: 1px solid #d5e7b8;
  cursor: pointer;
  height: 38px;
  margin-right: 0;
  padding: 0 1em;
  box-sizing: border-box; /* Include padding in width calculation */
}

.emailFormField {
    font-size: 1em;
    padding: 0.5em 0;
    border-radius: 1em;
    border: none;
    margin: 0;
}

label, input, button {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
  
.description {
    font-size: 1em;
    z-index: 100;
    margin-top: 0;
    font-weight: 500;
    color: #d5e7b8;
}

.textSpan {
    display: flex;
    justify-content: space-between;
}