#loginPage {
  color: #2c3d10;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: transitionIn .5s;
}

#loginPage h1 {
  margin-top: 2em;
}

#loginForm {
  background-color: #d5e7b8;
  padding: 20px;
  border-radius: 5px;
  width: 25em;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#loginForm input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Add box-sizing property */
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
  background-color: #ffffff;
}

#loginForm button {
  display: block;
  width: 100%; /* Adjusted width to 100% */
  padding: 10px;
  background-color: #cc4717;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0px;
  box-sizing: border-box; /* Add box-sizing property */
}

#loginForm button:hover {
  background-color: #3e8e41;
}

.password-input-container {
  position: relative;
}

.password-input-wrapper {
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
  
}

/* Adjust the styling of the link as needed */

