.makePost {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    align-items: center;
}

.makePostForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notAdmin {
    /* margin-top: 10em; */
}

#titleInput {
  /* height: 4em; */
  text-align: center;
  font-size: 1.2em;
  padding: .2em;
}

#imageUpdload {
    display: flex;
    justify-content: center;
}

.submitButton {
    text-align: center;
    background-color: #35a731;
    width: 90%;
    text-align: center;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview h1{
    text-align: center;
}

.preview img {
    width: 80%
}