.makePost {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.makePostForm {
    display: flex;
    flex-direction: column;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.notAdmin {
    /* margin-top: 10em; */
}

#titleInput {
  border-radius: 1em;
  border-color: #c0c0c0;
  /* height: 4em; */
  text-align: center;
  font-size: 1.8em;
}
