/* Base styles for mobile */
.headline h1 {
  font-size: 1.8em;
  text-align: center;
  color: #181A18;
}

.headline h1 a {
  text-decoration: none;
  color: #181A18;
}

.headline h1:hover {
  text-decoration: underline;
}

.headline img {
  max-width: 90vw;
  max-height: 50vh;
}

.headline h3 {
  font-size: 0.8em;
  color: #2f332f;
}

.headline p {
  padding: 1em 0;
  color: #181A18;
}

.horizontalRule {
  width: 100%;
  border-bottom: dotted .15em #2c3d10;
}

.mainBody h2 {
  font-size: 1.2em;
  text-align: left;
  margin-left: 2em;
  color: #181A18;
}

.postCardContainer {
  margin: .5em 0;
}

.postCards {
  margin: 0.5em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: transform 0.3s ease-in-out;
}

.postCards h2 {
  margin: 1em 0;
  font-size: 1em;
}

.postCards p {
  text-align: center;
}

.postCards img {
  width: 100%;
  border-radius: 4px;
  transition: box-shadow 0.3s;
}

.postCards img:active,
.postCards img:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.missionStatement {
  font-size: 1.8em;
  color: #525a52;
}

.missionStatement a {
  color: #2f332f;
  background-image: linear-gradient(90deg, #7ccc89af 50%, transparent 50%);
  background-size: 200% 50%;
  text-decoration: none;
}

.missionStatement a:hover {
  background-image: none;
  border-bottom: 1px dotted #2f332f;
}

.featuredCards {
  margin: 0.5em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 481px) {
  /* Adjustments for larger screens */
  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    overflow-x: hidden;
  }

  .headline h1 {
    width: 95vw;
  }

  .featuredCards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featuredCardText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featuredCards img {
    width: 23em;
    height: 23em;
    border-radius: 4px;
    transition: opacity 0.3s;
  }

  .featuredCards img a:hover {
    border-radius: 50%;
  }

  .featuredCards h2 {
    font-size: 1.7em;
  }
}

.fade-in {
  animation: transitionIn 0.75s;
}

.mainBody {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
