/* Base styles for mobile */
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;   
  overflow-x: hidden;
  margin-top: .5em;
}

.headline h1 {
  font-size: 2em;
  max-width: 85vw;
  text-align: center;
  color: #181A18;
  margin-bottom: 0;
}

.headline h1 a {
  text-decoration: none;
  color: #181A18;
  border-bottom: solid 0.05em transparent; /* Add a transparent border */
  transition: color 0.3s, border-color 0.3s; /* Add a transition for the color and border-color */
}

.headline h1 a:hover {
  color: #697469;
  border-color: #697469; /* Change the border color on hover */

}

.headline img {
  max-width: 88vw;
  max-height: 30em;
  color: #181A18;
  border-top: dotted 0.2em transparent; /* Add a transparent border */
  transition: color 0.3s, border-color 0.3s; /* Add a transition for the color and border-color */
}

 .postCards {
  color: #181A18;
  border: dotted 0.15em transparent; /* Add a transparent border */
  transition: color 0.3s, border-color 0.3s; /* Add a transition for the color and border-color */
}

.headline a {
  color: #181A18;
}

.headline img:hover {
  color: #525a52 !important;
  border-color: #2c3d10; /* Change the border color on hover */
}

.headline h3 {
  font-size: 1em;
  color: #2f332f;
  transition: color 0.3s; /* Add a transition for the color and border-color */

}

.headline h3:hover {
  color: #696969;
}

.headline p {
  max-width: 88vw;
  /* padding: 1em .3em; */
  color: #181A18;
}

.headerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontalRule {
  width: 90vw;
  border-bottom: dotted .15em #2c3d10;
  margin: .5em 0em;
  align-self: center;
}

.mainBody{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBody h2 {
  font-size: 1.2em;
  text-align: left;
  margin-left: 5vw;
  align-self: flex-start;
}

.postCardContainer {
  margin: .5em 0;
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.linkCards {
  text-decoration: none;
}

.postCards {
  margin: 0.5em 0;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.postCards h2 {
  margin: 1em 0;
  font-size: 1em;
}

.postCards p {
  text-align: center;
  display: none;
}

.postCards img {
  width: 40vw;
  max-width: 25em;
  border-radius: 4px;
  transition: box-shadow 0.3s;
}

.postCards .latestCardsText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.postCards .latestCardNum {
  display: flex;
  flex-direction: row;
  gap: .2em;
  color: #181A18;
  margin-top: 0;
}

.mainBody .categorySpan{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  gap: 1.5em;
  margin-top: 1em;
}

.mainBody .postCards {
  color: #181A18;
  border: dotted 0.15em transparent; /* Add a transparent border */
  transition: color 0.3s, border-color 0.3s; /* Add a transition for the color and border-color */
}

.mainBody .postCards:hover {
  color: #525a52 !important;
  border-color: #2c3d10; /* Change the border color on hover */
}


.missionStatement {
  font-size: 1.8em;
  color: #525a52;
  margin: 1em 24px;
  line-height: 1.5em;
  width: 90vw;
  align-self: center;
}

.missionStatement a {
  color: #2f332f;
  /* background-image: linear-gradient(90deg, #48641b83 50%, transparent 50%); */
  background-color: #48641b83;
  background-size: 200% 50%;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s; /* Add a transition for the color and border-color */
}

.missionStatement a:hover {
  background-color: transparent;
  border-bottom: 1px dotted #2f332f;
}

.featuredCards {
  margin: 0.5em 1.5em;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredCardText{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredCardText h2{
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0 0 0;
}

.featuredCards p {
  display: none;
}

.featuredCards img{
  width: 95%;
  height: auto;
  border-radius: 4px;
}


.featuredCards .latestCardNum {
  display: flex;
  flex-direction: row;
  gap: .2em;
  color: #181A18;
  margin-top: 0;
}



@media screen and (min-width: 600px) {
  .headline h1 {
    font-size: 2.5em;
  }

  .headline p{
    font-size: 1.2em;
  }

  .postCards h2 {
    margin: 1em ;
    margin-left: 0;
    font-size: 1.5em;
  }

  .mainBody h2{
    font-size: 1.5em;
  }

  .postCards .latestCardNum {
    font-size: 1.3em;
  }

  @media screen and (min-width: 1000px) {
    .headline h1{
      font-size: 2.7em;
    }

    .headline p{
      font-size: 1.4em;
    }

    .headerContent{
      flex-direction: row;
      margin: .5em 3em;
      gap: 3em;
      align-items: flex-start;
    }

    .headerContent img{
      width: 35em;
    }

    .postCards h2 {
      margin: 1em ;
      margin-left: 0;
      font-size: 2em;
    }
    

  }
}

.fade-in {
  animation: transitionIn 0.75s;
}

.mainBody {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
