

#root {
  background-color: #181A18;
  height: 100%;
}

.App{
  height: 100%;
  font-family: -apple-system, Blin  kMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: #d5e7b8;
  font-family: 'Merriweather', serif;
}

.makeAPostDiv {
  position: sticky;
  z-index: 101;
  text-align: center;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px red solid vc */

}

.makeAPostDiv a {
  margin: 0 1em;
  color: #d5e7b8;
  padding: 0.3em 0.5em;
  text-decoration: none;
  background-color: #181A18;
  border-radius: 4px;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
  border: 4px solid black;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: black;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}




